/* .EditProfile__button {
  width: 128px;
  height: 36px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: "CabinetGrotesk";
  font-weight: 700;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  margin-left: -5px;
}

.EditProfile__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.EditProfile__button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
} */
