font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.otf") format("opentype");
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.6s linear;
}

.modal__label {
  font-family: CabinetGrotesk;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.modal__title {
  font-family: CabinetGrotesk;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}

.modal__close {
  background-image: url("../../assets/Close-button.svg");
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
}

.modal__content {
  background-color: #fff;
  position: relative;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
}

.modal__content_type_image {
  background-color: #fff;
  position: relative;
  max-width: 498px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid #000;
  border-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  margin-left: -2px;
}

.item__delete-button {
  max-width: 101px;
  max-height: 24px;
  margin-left: 350px;
  margin-top: -20px;
  line-height: 24px;
  color: red;
  background-color: transparent;
  border: none;
  font-family: CabinetGrotesk;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.modal__image {
  max-width: 498px;
}

.modal__caption {
  font-family: CabinetGrotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
}

.modal__weather {
  font-family: CabinetGrotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}

.modal__footer {
  margin-left: 30px;
}

.modal__input_error {
  border-bottom: solid 1px rgba(255, 0, 0, 1);
  font-size: 15px;
  font-family: CabinetGrotesk;
  font-weight: 700;
}

.modal__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
