.SignUp__button {
  background-image: url(../../assets/SignUp-Button.svg);
  background-repeat: no-repeat;
  width: 86px;
  height: 36px;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  margin-left: -5px;
}

.SignUp__button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  cursor: not-allowed;
}

.SignUp__button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}

.Or-Login__button {
  background-image: url(../../assets/Or-Login-Button.svg);
  background-repeat: no-repeat;
  width: 73px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 100px;
  margin-top: -22px;
}
