html {
  background-color: #f3f3f3;
}

.app {
  background-color: #f3f3f3;
  font-family: "Cabinet";
  box-sizing: border-box;
  height: 100%;
  padding: 0px 40px;
}

.app__content {
  box-sizing: border-box;
  height: 100%;
  max-width: 1360px;
  min-width: 400px;
  margin: 0 auto;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 707px) {
  html {
    background-color: #f3f3f3;
  }

  .app {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
  }

  .app__content {
    box-sizing: border-box;
    height: 100dvh;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 18px;
  }
}
