@font-face {
  font-family: "CabinetGrotesk";
  src: url("../../vendor/CabinetGrotesk-Medium.otf");
}

.sidebar {
  display: flex;
  width: 229px;
  height: 56px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  margin-right: 16px;
}

.sidebar__username {
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  color: black;
  margin: 0;
  position: relative;
  top: 10px;
}
